*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* outline: 1px solid rgb(167, 102, 42); */
}

:root {
    /* --pico-spacing: 0; */
    --pico-block-spacing-vertical: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'arial', 'helvetica';
    background-color: hsl(240, 50%, 7%);
}

header {
    padding: 0;
}

ul {
    list-style-type: none;
    width: 100%;
    justify-content: center;
}

li {
    list-style-type: none;
}

nav {
    background-color: #291d50;
}

nav ol:first-of-type,
nav ul:first-of-type {
    margin: 0;
}

.ol {
    outline: 1px solid yellow;
}

.nav__links {
    font-weight: 600;
    margin: 0 2.5rem 0 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Define Helpers */

/* Margin */

.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}

/* Define Main Section */

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section__profile-picture {
    max-width: 350px;
    border-radius: 50%;
    /* margin: 5rem 0 2rem 0; */
}

.main__section__text-content {
    text-align: center;
    max-width: 500px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.icon-container__icons {
    width: 2.5rem;
}

/* Set Colors */

.highlight--green {
    color: #17f1b3;
    font-weight: 800;
}
.highlight--pink {
    color: #e8479b;
    font-weight: 800;
}

.filter-pink {
    filter: invert(39%) sepia(95%) saturate(1233%) hue-rotate(302deg)
        brightness(93%) contrast(95%);
}
