*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* outline: 1px solid rgb(167, 102, 42); */
}

:root {
    /* --pico-spacing: 0; */
    --pico-block-spacing-vertical: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'arial', 'helvetica';
    background-color: hsl(240, 50%, 7%);
}

header {
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Define Navbar */
ul {
    list-style-type: none;
    width: 100%;
    justify-content: center;
}

li {
    list-style-type: none;
}

nav {
    background-color: #291d50;
}

nav ol:first-of-type,
nav ul:first-of-type {
    margin: 0;
}

.nav__links {
    font-weight: 600;
    margin: 0 2.5rem 0 0;
}

/* Define Main Section */

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.main__section__profile-picture {
    max-width: 350px;
    border-radius: 50%;
    border: 2px solid #181636;
    box-shadow: 0 0 20px 7px #291d50;
}

.main__section__text-content {
    text-align: center;
    max-width: 500px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.icon-container {
    display: flex;
    gap: 3rem;
}

.icon-container__icons {
    width: 2rem;
}

.icon-container__icons:hover {
    transform: scale(1.3);
    /* box-shadow: 0 0 2px 1px #291d50; */
    filter: drop-shadow(0 0 4px #12102c);
}

/* Set highlight Colors */

.highlight--green {
    color: #17f1b3;
    font-weight: 800;
}
.highlight--pink {
    color: #e8479b;
    font-weight: 800;
}
.filter-pink {
    filter: invert(39%) sepia(95%) saturate(1233%) hue-rotate(302deg)
        brightness(93%) contrast(95%);
}
.filter-green {
    filter: invert(88%) sepia(69%) saturate(7002%) hue-rotate(79deg)
        brightness(107%) contrast(89%);
}
